<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d27ca428-12ba-4c4c-a4c7-880678e66405/resourcegroups/Azure-Stores-K4Y7BGOHVNRJIUOKZPY3W2X5UNAUFN5JPSLOXAYGSME2XNAZA7EA-East-US/providers/Microsoft.Web/sites/BowlingGameScoringDemo</ResourceId>
    <ResourceGroup>Azure-Stores-K4Y7BGOHVNRJIUOKZPY3W2X5UNAUFN5JPSLOXAYGSME2XNAZA7EA-East-US</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bowlinggamescoringdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>e5726b53-d335-4da1-baba-96e4a8ee6b50</ProjectGuid>
    <MSDeployServiceURL>bowlinggamescoringdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BowlingGameScoringDemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BowlingGameScoringDemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>